# dependencies
node_modules
client/node_modules
server/node_modules

# env
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
client/dist
server/dist

# db
server/data/*.sqlite
server/data/*.sqlite-shm
server/data/*.sqlite-wal
server/data/admin-dbs/*.sqlite
server/data/admin-dbs/*.sqlite-shm
server/data/admin-dbs/*.sqlite-wal

# system
.DS_Store

# editors
.vscode
.idea
